<div class="row">
    <div class="col-12 mb-3">
        <mat-card class="about-details">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="profile-pic">
                        <img src="assets/images/pp.jpg" alt="" class="img-fluid shadow">
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h2>Anil Kumar</h2>

                    <h5 class="mb-3">Full-Stack Developer |
                        <span class="inline-block">
                            <img [src]="TECH_ENVIRONMENT_ICON.ANGULAR" class="logo-1-5" alt="">NGULAR</span> |
                        <span class="inline-block">
                            <img [src]="TECH_ENVIRONMENT_ICON.JAVA" class="logo-1-5" alt="">JAVA</span>
                    </h5>

                    <div class="social-icon">
                        <div class="row mb-2">
                            <span class="col-1">
                                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                            </span>
                            <span class="col-11">
                                {{'11/12/1995' | date: 'MMM-dd-yyyy'}}
                            </span>
                        </div>

                        <div class="row mb-2">
                            <span class="col-1">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </span>
                            <span class="col-11">
                                7015182738, 8295365957
                            </span>
                        </div>

                        <div class="row mb-2">
                            <span class="col-1">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                            <span class="col-11">
                                anilkaushik1211@gmail.com
                            </span>
                        </div>

                        <div class="row mb-2">
                            <span class="col-1">
                                <i class="fa fa-skype" aria-hidden="true"></i>
                            </span>
                            <span class="col-11">
                                live:anilkaushik1211
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-4 mb-2">
                            <a mat-fab class="float-right mr-3" color="primary"
                                href="https://www.facebook.com/anil.kaushik.5680/" target="_blank">
                                <i class="fa fa-facebook-f fa-lg" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-4">
                            <a mat-fab color="primary" class="float-right mr-3"
                                href="https://www.linkedin.com/in/anilkaushik1211" target="_blank">
                                <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="col-12">
        <mat-card class="decription">
            <mat-card-content>
                <p class="font-16">
                    I am a <strong>full-stack developer</strong> with a demonstrated history of working in the information technology and
                    services industry.<br />
                    Proficient in <strong>Angular, Java, Spring Framework</strong> and <strong>MySQL</strong> database.<br />
                    Strong Engineering Professional with Bachelor of Technology focused in <strong>Computer Science & Engineering</strong> from <strong>Guru
                    Jambheshwar University of Science and Technology (Hisar, Haryana)</strong>.<br />
                    I am a quality-oriented professional who has been consistently praised by my colleagues and
                    management.<br />
                    During my 3 year career, I have developed a skill set including Web Platform Development, Database
                    Development and Application Development.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>