<div class="row">
    <div class="col-12 mb-3">
        <mat-card class="about-details">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="profile-pic">
                        <img src="assets/images/pp.jpg" alt="" class="img-fluid shadow" />
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h2>Anil Kumar</h2>

                    <h5 class="mb-3">
                        Full-Stack Developer |
                        <span class="inline-block">
                            <img [src]="TECH_ENVIRONMENT_ICON.ANGULAR" class="logo-1-5" alt="" />NGULAR</span>
                        |
                        <span class="inline-block">
                            <img [src]="TECH_ENVIRONMENT_ICON.JAVA" class="logo-1-5" alt="" />JAVA</span>
                    </h5>

                    <div class="social-icon">
                        <div class="row mb-2">
                            <span class="col-1">
                                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                            </span>
                            <span class="col-11">
                                {{ "11/12/1995" | date: "MMM-dd-yyyy" }}
                            </span>
                        </div>

                        <div class="row mb-2">
                            <span class="col-1">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </span>
                            <span class="col-11"> +91 70151 82738, +91 82953 65957 </span>
                        </div>

                        <div class="row mb-2">
                            <span class="col-1">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                            <span class="col-11"> anilkaushik1211@gmail.com </span>
                        </div>

                        <div class="row mb-2">
                            <span class="col-1">
                                <i class="fa fa-skype" aria-hidden="true"></i>
                            </span>
                            <span class="col-11"> live:anilkaushik1211 </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-4 mb-2">
                            <a mat-fab class="float-right mr-3" color="primary" matTooltip="Facebook"
                                href="https://www.facebook.com/anil.kaushik.5680/" target="_blank">
                                <i class="fa fa-facebook-f fa-lg" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-4">
                            <a mat-fab color="primary" class="float-right mr-3" matTooltip="Linked in"
                                href="https://www.linkedin.com/in/anilkaushik1211" target="_blank">
                                <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="col-12">
        <mat-card class="decription">
            <mat-card-content>
                <p class="font-16">
                    Experienced <strong>Full Stack Developer</strong> with a demonstrated
                    history of working in the Information Technology and Services
                    industry. Proficient in UI development with all versions of
                    <strong>Angular 2+, CSS, Bootstrap, HTML</strong> and has good
                    knowledge of
                    <strong>Java, Spring Framework, Spring-boot, Hibernate and MySQL</strong>. Strong engineering
                    professional with a
                    <strong>B.Tech</strong> degree in
                    <strong>Computer Science and Engineering</strong> from
                    <strong>Guru Jambheshwar University of Science & Technology</strong>.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>