<div class="work-and-education">
    <div class="row">
        <div class="col-12">
            <h3 class="title mb-3">Work Experience</h3>
            <mat-divider class="mb-3"></mat-divider>
            <app-work-experience></app-work-experience>
        </div>

        <div class="col-12 mt-3">
            <mat-divider></mat-divider>
            <h3 class="title mt-3 mb-3">Education</h3>
            <mat-divider class="mb-3"></mat-divider>
            <app-education></app-education>
        </div>
    </div>
</div>