.work-experience-details {
    text-align: justify;
    .mat-card-content {
        padding: 1.5rem;
    }

    .organization-name {
        font-size: 18px;
        font-weight: 800;
    }

    .work-tenure {
        font-size: 1rem;
    }

    .row {
        .col-1 {
            max-width: 2.5rem !important;
        }
    }

    .link {
        color: #000 !important;
        font-weight: bold;
    }
}

.total-experience {
    position: absolute;
    right: 1rem;
}
