.project-details {
    .row {
        .col-1 {
            max-width: 2.5rem !important;
        }
    }

    .environment {
        border: 1px dotted black;
        border-radius: 20px;
        background-color: lightslategrey;
        padding: 3px;
        padding-right: 10px;
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        img {
            width: 20px;
        }
    }

    .project-expension-panel {
        .mat-expansion-panel {
            border-radius: 2rem;

            &.mat-expanded {
                height: 100%;
            }
        }
    }
}

.environment-icon {
    width: 20px;
}
