/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: OpenSans !important; }

.cursor-hand {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.mat-divider {
    border-top-width: 2px !important;
    border-top-style: dashed !important;
}